@page
@model awaq_frontend.Pages.DashboardAdminModel
@{
    ViewData["Title"] = "Tablero Grupal";
}


<div class="container mt-3">
    <div class="row">
        <div class="col-2">
            <div class="containerMenu">
                <img src="~/images/AWAQLogoNegro.png" alt="" class="logo">
                <br>

                <div><a href="/Dashboard" class="menu-item"><i class="fas fa-tachometer-alt "></i> Tablero individual</a></div>
                @if (HttpContext.Session.GetString("UserRole") != "Miembro")
                {
                    <div><a class="menu-item active"><i class="fas fa-tachometer-alt "></i> Tablero grupal</a></div>
                    <div><a href="/Users" class="menu-item"><i class="fas fa-users"></i> Usuarios</a></div>
                }
                <div><a href="/UserManual" class="menu-item menu-button"><i class="fas fa-book"></i> Manual de usuario</a></div>
                <div><a href="/GameInstructions" class="menu-item"><i class="fas fa-gamepad"></i> Instrucciones</a></div>
                <div><a href="/Themes" class="menu-item"><i class="fas fa-palette"></i> Temas</a></div>

                <div><a href="/Form" class="menu-item"><i class="fas fa-file-alt"></i> Formulario</a></div>

                <div><a href="/Profile" class="menu-item"><i class="fas fa-user"></i> Perfil</a></div>

            </div>
        </div>
        <div class="col-10 extraPadding specialBackground">
            <div class="d-flex justify-cosntent-between align-items-center container1">
                <h5 class="align-name colorGris">@HttpContext.Session.GetString("UserEmail")</h5>
            </div>
            <div>
                <div class="container2 d-flex position-relative">
                    <div class="p-4 col-4 section-R1">
                        <h4 class="text-center pb-2">@Model.BasicMetrics.CapacitedUsers Usuarios capacitados</h4>
                        <canvas id="myDonutChart"></canvas>
                    </div>
                    <div class="col-8 info-section section-R1">
                        <h4 class="mt-2 text-center">Porcentaje de problemas resueltos por categoría</h4>
                        <canvas id="userProgressChart"></canvas>
                    </div>
                </div>
                <div class="container3 d-flex position-relative">
                    <div class="col-8 section p-4">
                        <h4>Colaboradores</h4>
                        <p>Inserta el nombre del colaborador a buscar y da click para ver sus estadísticas:</p>
                        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">

                                    @if (@Model.Users != null && @Model.Users.Any())
                                    {

                                        @foreach (var user in @Model.Users)
                                        {
                                            <tr data-user-id="@user.ID" data-user-email="@user.Email" data-user-name="@user.Name" data-user-phone="@user.PhoneNumber" data-user-date="@user.JoinedAt" data-user-tedi="@user.TEDI" data-user-security="@user.Ciberseguridad" data-user-communication="@user.Comunicaciones" data-user-ethic="@user.PautasDeConducta">
                                                <td>@user.Name</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4 info-section section">
                        <h4 class="mt-2">Datos y Estadísticas</h4>
                        <br>
                        <div id="profileInfo">
                            <!--Datos Colab-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>$(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).find("td:first").text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#myTable").on("click", "tr", function () {
            var userId = $(this).data("user-id");
            var name = $(this).data("user-name");
            var email = $(this).data("user-email");
            var phone = $(this).data("user-phone");
            var date = $(this).data("user-date");
            var tedi = $(this).data("user-tedi");
            var security = $(this).data("user-security");
            var communication = $(this).data("user-communication");
            var ethic = $(this).data("user-ethic");
            $("#profileInfo").html(
                "<p><strong>Nombre:</strong> " + name + "</p>" +
                "<p><strong>Email:</strong> " + email + "</p>" +
                "<p><strong>Teléfono:</strong> " + phone + "</p>" +
                "<p><strong>Miembro desde:</strong> " + date + "</p>" +
                "<div class='row'><div class='col-6'><p><strong>TEDI:</strong> " + tedi + "%</p>" +
                "<div class='progress'><div class='progress-bar' role='progressbar' style='width: " + tedi + "%' aria-valuenow='" + tedi + "' aria-valuemin='0' aria-valuemax='100'></div></div>" +
                "<p><strong>Comunicación:</strong> " + communication + "%</p>" +
                "<div class='progress'><div class='progress-bar' role='progressbar' style='width: " + communication + "%' aria-valuenow='" + communication + "' aria-valuemin='0' aria-valuemax='100'></div></div></div>" +
                "<div class='col-6'><p><strong>Ética:</strong> " + ethic + "%</p>" +
                "<div class='progress'><div class='progress-bar' role='progressbar' style='width: " + ethic + "%' aria-valuenow='" + ethic + "' aria-valuemin='0' aria-valuemax='100'></div></div>" +
                "<p><strong>Seguridad:</strong> " + security + "%</p>" +
                "<div class='progress'><div class='progress-bar' role='progressbar' style='width: " + security + "%' aria-valuenow='" + security + "' aria-valuemin='0' aria-valuemax='100'></div></div></div></div>"
            );
            $("#myTable tr").removeClass("selected-row");
            $(this).addClass("selected-row");
        });
    });</script>

<script>
    var ctx = document.getElementById('myDonutChart').getContext('2d');
    var data = {
        labels: ['Usuarios capacitados', 'Usuarios no capacitados'],
        datasets: [{
            data: [@Model.BasicMetrics.CapacitedUsers, @Model.BasicMetrics.TotalUsers - @Model.BasicMetrics.CapacitedUsers],
            backgroundColor: ['#0d6803', '#cccccc']
        }]
    };

    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        borderWidth: 0,
        options: {

            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    display: function (context) {
                        return context.dataset.data[context.dataIndex] > 0;
                    },
                    color: 'white',
                    font: {
                        weight: 'bold',
                        size: 16
                    }
                }
            }
        }
    });


    var ctx2 = document.getElementById('userProgressChart').getContext('2d');

    var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Código de ética', 'Comunicación', 'Seguridad', 'TEDI'],
            datasets: [{
                label: 'Porcentaje',
                data: [@Model.userProgress.PautasDeConducta, @Model.userProgress.Comunicaciones, @Model.userProgress.Ciberseguridad, @Model.userProgress.TEDI],
                backgroundColor: [
                    'rgba(34, 139, 34, 0.5)',
                    'rgba(34, 139, 34, 0.5)',
                    'rgba(34, 139, 34, 0.5)',
                    'rgba(34, 139, 34, 0.5)',
                ],
                borderColor: [
                    'rgba(34, 139, 34, 1)',
                    'rgba(34, 139, 34, 1)',
                    'rgba(34, 139, 34, 1)',
                    'rgba(34, 139, 34, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });



</script>



<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arima', sans-serif;
    }

    select {
        color: black !important;
    }



    .positionAbsolute {
        position: absolute;
    }

    /* Generales */
    .colorAwaq {
        color: #0d6803
    }


    .small {
        font-size: 10px !important;
        width: 30px;
        padding: 5px !important;
    }

    .alignLeft {
        text-align: left;
    }

    .colorGris {
        color: #8a8989;
    }

    .specialBackground {
        background-color: #f8f9fa;
    }

    #userProgressChart {
        width: 540px !important;
        height: 260px !important;
        margin: auto;
        display: block;
    }

    select {
        color: black !important;
    }

    /* Menu */
    .containerMenu {
        text-align: center;
        width: 100%;
    }

    .logo {
        width: 80%;
        height: auto;
        display: block;
        margin: 10px;
        margin-left: 20px;
    }

    .container6 {
        width: 100%;
        background-color: #ffffff;
        border-radius: 16px;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
        min-height: 80vh;
    }


    .menu-item2 {
        padding: 10px;
        padding-left: 40px;
        padding-right: 90px;
        text-align: center;
        font-weight: bold; /* Negrita que aparece en hover */
    }

    .menu-item:hover {
        color: #0d6803; /* Color de texto que aparece en hover */
        text-decoration: none;
        background-color: #cccccc; /* Un tono más claro o más oscuro al actual */
    }

    .menu-item {
        display: flex;
        margin: 10px 0;
        text-decoration: none;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        /* Reduced padding-right for single-line text */
        padding-right: 30px;
        border-radius: 5px;
        font-weight: bold; /* Negrita que aparece en hover */
        /* Optional: Consider white-space: nowrap; only if needed */
        white-space: nowrap; /* Use with caution */
    }

    .menu-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        color: #0d6803; /* Color de texto que aparece en hover */
        text-decoration: none;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 300px;
        background-color: #e6e6e6; /* Fondo que aparece en hover */
        font-weight: bold; /* Negrita que aparece en hover */
    }

        .menu-item:hover {
            color: #0d6803; /* Color de texto que aparece en hover */
            text-decoration: none;
            background-color: #cccccc; /* Un tono más claro o más oscuro al actual */
        }

        .menu-item.active:hover {
            background-color: #568d4f; /* Un tono más claro o más oscuro al actual */
            color: #ffffff; /* Cambio de color de texto para más contraste */
        }

        .menu-item i {
            margin-right: 8px;
            width: 20px;
        }

        .menu-item.active {
            background-color: #0d6803; /* Cambia el fondo para la opción activa */
            color: #ffffff; /* Cambia el color del texto para mejorar el contraste */
            font-weight: bold; /* Mantiene el texto en negrita */
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 300px;
        }

    /* CONTENIDO */
    .container1 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
        justify-content: space-between;
    }

    .align-name {
        width: auto;
        margin-right: 65px;
    }

    .container2, .container3 {
        width: 100%;
        margin-right: 100px;
        margin-bottom: 10px;
        gap: 10px;
        border-radius: 16px;
        position: relative;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myDonutChart {
        width: 230px !important;
        height: 230px !important;
        margin: auto;
        display: block;
        margin-top: 10px;
    }

    .section {
        background-color: #ffffff;
        border-radius: 16px;
        padding: 15px;
    }

    .section-R1 {
        background-color: #ffffff;
        border-radius: 16px;
        padding: 15px;
        height: 335px;
    }

    .info-section {
        flex: 1;
    }

    .table-responsive {
        height: 300px; /* Ajusta la altura según tu preferencia */
        overflow-y: auto;
    }

    .progress {
        height: 20px;
        margin-bottom: 10px;
    }

    .progress-bar {
        background-color: #0d6803;
    }

    .table tbody tr:hover {
        background-color: #e6f7e6;
        cursor: pointer;
    }

    .selected-row {
        background-color: #d4f5d4;
    }
</style>
